coworking-system/HELP.md
coworking-system/target/
!coworking-system/.mvn/wrapper/maven-wrapper.jar
!coworking-system/**/src/main/**/target/
!coworking-system/**/src/test/**/target/

### STS ###
coworking-system/.apt_generated
coworking-system/.classpath
coworking-system/.factorypath
coworking-system/.project
coworking-system/.settings
coworking-system/.springBeans
coworking-system/.sts4-cache

### IntelliJ IDEA ###
coworking-system/.idea
coworking-system/*.iws
coworking-system/*.iml
coworking-system/*.ipr

### NetBeans ###
coworking-system/nbproject/private/
coworking-system//nbbuild/
coworking-system//dist/
coworking-system//nbdist/
coworking-system//.nb-gradle/
coworking-system/build/
!coworking-system/**/src/main/**/build/
!coworking-system/**/src/test/**/build/

### VS Code ###
coworking-system/.vscode/
